@import './variables.scss';

.container {
    max-width: 920px;
    width: 90%;
    padding: 32px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    background-color: $clr-white;

    form {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 50%;
        max-width: 379px;
        min-width: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 40px;
        padding: 16px;
    }
}



@media only screen and (max-width: 720px) {
    .container {
        width: 100%;
        padding: 32px 24px;
        flex-flow: column nowrap;
        gap: 32px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        form {
            max-width: none;
            gap: 32px;
            padding: 8px 0;
        }
    }

    .logo {
        margin-top: 50px;
    }
}