@import './variables.scss';

.button_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 117px));
    grid-template-rows: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 16px;

    button {
        height: 48px;
        padding: 0;
        margin: 0;
        font-size: 24px;
        color: $clr-white;
        background-color: $clr-very-dark-cyan;
        border-radius: 5px;
        border: none;
        transition: 0.2s all ease-in;
        cursor: pointer;

        &:hover {
            background-color: #9FE8DF;
            color: $clr-very-dark-cyan;
        }

        &:focus,
        &.active,
        &:target {
            background-color: $clr-primary-cyan;
            color: $clr-very-dark-cyan;
        }
    }

    input::placeholder {
        font-size: 20px;
    }
}

@media only screen and (max-width: 720px) {
    .button_container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}