@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import './variables.scss';

* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

html, body, #root {
    padding: 0;
    margin: 0;
    min-height: 100svh;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 85px;
    background-color: $clr-light-grayish-cyan;
}

main {
    max-width: 920px;
    width: 90%;
    padding: 32px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    background-color: $clr-white;
}

form {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 379px;
    min-width: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    padding: 16px;
}

@media only screen and (max-width: 720px) {
    #root {
        justify-content: flex-start;
        gap: 40px;
    }

    main {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        flex-flow: column nowrap;
    }

    form {
        max-width: none;
    }

    .logo {
        margin-top: 50px;
    }
}