@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import './variables.scss';

* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

html, body, #root {
    padding: 0;
    margin: 0;
    min-height: 100svh;
    background-color: $clr-light-grayish-cyan;
}

#root {
    padding: 50px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

@media only screen and (max-width: 720px) {
    #root {
        padding: 0;
        justify-content: flex-start;
        gap: 40px;
    }
}